<!-- Styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vendor/material.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" /
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/loading.css') }}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:300,400,500|Open+Sans:600|Kaushan+Script">

<!-- Favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />

<!-- Scripts -->
<script src="{{ url_for('static', filename='assets/js/vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/material.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/vendor/jquery.drawDoughnutChart.js') }}"></script>